<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/autobiografia.css">
    <title>Autobiografia</title>
</head>
<body>
   <header>
    <nav>
        <ul class="menu">
            <li><a href="./textoResponsive.html">Inicio</a></li>
            <li><a href="./fotos.html">Fotos</a></li>
        </ul>
    </nav>
   </header>
    <div id="wrapper">
        <article class="instructions">
            <h1>Responsive Images with srcset</h1>
            <section class="columns">
                <p>MI <code>AUTOBIOGRAFIA</code> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio id culpa consectetur quae dolor porro? Alias tenetur molestiae officiis ipsa assumenda? Eveniet culpa expedita assumenda. Dolor quae perspiciatis dicta delectus. </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora beatae animi optio ullam. Totam, eveniet voluptatem ad voluptatum itaque consequuntur quisquam assumenda, animi soluta temporibus quaerat perspiciatis eaque quibusdam. Error.</p>
            </section>
        </article>
        <img src="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1887&amp;q=80" srcset="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=387&amp;q=80 387w, https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1887&amp;q=80 1887w">
    </div>
</body>
</html>