<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/textoResponsive.css">
    <title>Ana Maria Viana Herrera</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="./autobiografia.html">Autobiografia</a></li>
                <li><a href="./fotos.html">Fotos</a></li>
            </ul>
        </nav>
       </header>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sint mollitia libero minima non praesentium laboriosam similique nam fuga, odio aperiam ullam, neque suscipit quaerat accusantium tempore. Nulla, consequatur inventore!</h2>

    <div class="example"><h1>[Ana Maria Viana Herrera]</h1></div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</body>
</html>